@use "colors";

footer {
    padding: 10px 20px;
    background-color: colors.$color-background;
    color: colors.$color-text;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 10px 150px;
  }
  }

  @media screen and (min-width: 1400px) {
    footer {
      padding: 30px 400px;
    }
  }