@use "typo";
@use "colors";

nav li {
    display: inline;
}

nav {
    padding: 15px 0;
    text-align: center;
    background-color: colors.$color-background;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: colors.$color-text;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 1400px) {
   nav li {
    font-size: 1.2rem;
   }
  }