@use "colors";

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: colors.$color-primary;
    color: colors.$color-background;
}

h1 {
    color: colors.$color-primary;
    text-align: center;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
    font-size: 45px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 62px;
        margin-top: 130px;
    }
  }

@media screen and (min-width: 1400px) {
    h1 {
        font-size: 126px;
        margin-top: 230px;
    }

    p {
        font-size: 1.2rem;
    }
  }