@use "colors";
@use "navbar";
@use "typo";
@use "footer";
@use "header";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.usp {
    background-color: colors.$color-secondary;
    color: colors.$color-text;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

.usp p {
    padding: 0 15px;
    margin: 0;
}

section {
    padding: 30px 20px;
}

.divider {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#scrollbtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: colors.$color-background; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 32px; /* Increase font size */
  }
  
  #scrollbtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .contact {
    display: block;
  }

  @media screen and (min-width: 768px) {
    section {
        padding: 50px 150px;
    }

    .divider {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

  }

  @media screen and (min-width: 1400px) {
    section {
        padding: 150px 400px;
    }

    .usp {
        padding: 30px;
        display: flex;
        justify-content: space-around;
    }

    .usp p {
        font-size: 1.3rem;

    }

    .divider {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .contact {
        display: flex;
        justify-content: space-between;
    }


  }